<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7a4e4">  <td>18/06/19 14:11:59</td>   <td>0</td> <td title="&gt;&gt;Base.beforeSuite()[pri:0, instance:Cvent.TestCventHomePageDocumentation@e45eb6]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@14350997</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/06/19 14:12:00</td>   <td>148</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeClass()[pri:0, instance:Cvent.TestCventHomePageDocumentation@e45eb6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@14350997</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/06/19 14:12:00</td>   <td>157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:Cvent.TestCventHomePageDocumentation@e45eb6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@14350997</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/06/19 14:12:00</td>   <td>158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCventHomePageDocumentation.beforeMethod()[pri:0, instance:Cvent.TestCventHomePageDocumentation@e45eb6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@14350997</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/06/19 14:12:17</td>   <td>17213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCventHomePageDocumentation.Test()[pri:0, instance:Cvent.TestCventHomePageDocumentation@e45eb6]">Test</td> 
  <td>main@14350997</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/06/19 14:23:24</td>   <td>684632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCventHomePageDocumentation.afterMethod()[pri:0, instance:Cvent.TestCventHomePageDocumentation@e45eb6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@14350997</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/06/19 14:23:25</td>   <td>685456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(org.testng.ITestResult)[pri:0, instance:Cvent.TestCventHomePageDocumentation@e45eb6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@14350997</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/06/19 14:23:25</td>   <td>685482</td> <td title="&lt;&lt;Base.afterSutie()[pri:0, instance:Cvent.TestCventHomePageDocumentation@e45eb6]">&lt;&lt;afterSutie</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@14350997</td>   <td></td> </tr>
</table>
